doctype html
html(lang='en')
  include ../common/head.pug
  +head("Starter MVP")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row
          .col-sm-12.offset-md-2.col-md-8
            .jumbotron
                h2.text-center Sign Up 
                .row
                    .col-sm-12.col-md-12
                        form(action="/signup", method="POST")
                            .form-group
                                label.small.mb-1.mt-3 Email: 
                                input(type="email", placeholder="Email...", required=true, name="email",value='').form-control
                                label.small.mb-1.mt-3 Password: 
                                input(type="password", placeholder="Password...", required=true, name="password",value='').form-control
                                button.mt-3.btn.btn-primary(type="submit") Sign Up
                                p.mt-2.mb-0
                                    | Already Have an account? #[a(href="/login") Log In Here].

    include ../common/footer.pug
    +footer()